:root {
    --font-color:#B5A7C8; /*#24292E  ;*/
      --bg-color:#f8f9fa;
      --main-color:#C1B1CC ;
      --black: #24292E;    
  }

  /*.navbar {   
    background-color:transparent;
    }*/

.center{
    text-align: center;
}

body section, body nav{
     font-family: ubuntu;     
       }

   body section, footer{
    background-color: #f8f9fa;
   }

.bg-image{
    background: url('../pictures/Hugues\ de\ BUYER-MIMEURE\ on\ Unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 70vh;    
}

section a{
    color:var(--black);
}



section .card a:hover{
    border-bottom: 0px;
    padding-bottom:0em;
}

nav {
    text-transform: uppercase;
     text-align: center;
}

#navbarResponsive > ul > li.nav-item > a{    
    font-size: 2.5vh;  
    color:var(--black);
     /* color: blanchedalmond; */
    font-weight: bold;
}

section#head-section{    
    font-weight: bold;    
    background-color:transparent;
    font-family: 'nova mono'
}

section#about-section{
    font-size: large; 
}

section#contact-section a{
    text-decoration: none;    
    font-family: 'nova mono';
        font-size: large;  
}

section a:hover, nav ul li a:hover, section .card .card-text a:hover{      
border-bottom: 1.5px solid ;
    padding-bottom:0.2em;
    transition: all .3s ease-out;     
    color:var(--black); 
    text-decoration: none;
}


section#head-section h1 {     
    font-family: 'nova mono';
    font-size: 4rem;    
    font-weight: bold;    
    color:var(--black);
}

section#project-section .card{
    border:0px;
    font-size: large;
}

.empty-vertical-space1{    height: 32vh;}
.empty-vertical-space2{    height: 16vh;}
.empty-vertical-space3{    height: 8vh;}
.empty-vertical-space4{    height: 4vh;}

footer{
    text-align: right; 
    padding-right: 1em;
    padding-bottom: 0.5em; 
    font-size:  x-small;  

}

footer, section#contact-section{
    background-color:var(--black);
    
}

footer, section#contact-section a{
color:var(--bg-color);
}
   @media only screen and (max-width: 600px) {
    nav ul li a:hover {
    border-bottom: 0px solid;
}
       .nav-link{
          padding:0px; 
       }
       
       #navbarResponsive > ul > li.nav-item > a {
           padding-bottom:10px; 
       }
       
       body nav{
     background-color: #f8f9fa;
       }
       
}

