:root {
    --font-color:black; /*#24292E  ;*/
      --bg-color:#878787;
      --main-color:#C1B1CC ;
      --black: #24292E;    
  }

  .navbar {   
    background-color:transparent;
    }

.center{
    text-align: center;
}

body section, body nav{
    font-family: ubuntu;    
   }

   body section, footer{
    background-color: #f8f9fa;
   }

.bg-image{
    background: url('../pictures/cropped.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: 75vh;
    
}

section a{
    color:var(--black);
    text-decoration: underline;
}

section .card a:hover{
    border-bottom: 0px;
    padding-bottom:0em;
}

nav ul li a{    
    font-size: 3vh;  
    color:var(--black);
    font-weight: bold;
}

section#head-section{
    
    font-weight: bold;    
    background-color:transparent;
}

section#about-section{
    font-size: x-large; 
}

section#contact-section a{
    text-decoration: none;    
    /* font-family: 'Lobster Two';  */
    font-size: x-large;  
}

section a:hover, nav ul li a:hover, section .card .card-text a:hover{      
border-bottom: 1.5px solid ;
    padding-bottom:0.2em;
    transition: all .3s ease-out;     
    color:var(--black); 
    text-decoration: none;
}

section#head-section h1 {     
    font-family: 'Lobster Two';
    font-size: 13vh;    
    font-weight: bold;
}

section#project-section .card{
    border:0px;
    font-size: x-large;
}

.empty-vertical-space1{    height: 180px;}
.empty-vertical-space2{    height: 90px;}
.empty-vertical-space3{    height: 45px;}
.empty-vertical-space4{    height: 22.5px;}

footer{
    text-align: right; 
    padding-right: 1em;
    padding-bottom: 0.5em;    
    font-size: 0.5rem;
}


   